:root {
    --main-green: #006338;
  }

html{
  scroll-behavior: smooth;
}


.highlight{
  color: var(--main-green);
  font-weight: bold;
}
 
h5.vanityMetricTitle{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

h6.vanityMetricSubTitle{
    font-size: 1.25em;
    /* font-weight: bold; */
    color: grey;
    text-align: center;
}


/* -------- Table-related -------- */
.tableEmph{
  font-weight: bold;
  font-size: 1.05em;
  text-align: left;
}

table
{ 
margin-left: auto;
margin-right: auto;
}

td.centerContent{
  text-align: center;
}

span.unit{
  /* text-align: right; */
  float:right;
  color: silver;
  font-weight: normal;
}

/* --------- Animations ---------- */
/* scale cards */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }


/* table hover */
:not(thead) > tr:hover {
   color: var(--main-green) !important; 
   font-weight: bold;
   background-color: var(--light);
}
/* tr:hover td { background: transparent; } */